PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
QRZ_USERNAME=
QRZ_PASSWORD=
PUBLIC_FONT_ASSET_ORIGIN=https://resources.xn--huu92dpwpaa217f909c.top
PUBLIC_CJK_FONT_ASSET_ORIGIN=
FONT_R2_BUCKET=fonts
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
